  h1 {
  border-style: solid;
  border-color: sea green;
}
body {
  background-color: dark sea green;
}
        }

p.light {
  font-weight: lighter;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
    background-color: #2e8b57;
}
        h1 { color: medium sea green; }
        h3 { color: medium sea green; }
